@import url('https://fonts.googleapis.com/css?family=Carter+One');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.full{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/background.png');
}
.character{
    left: 2%;
    width: 10%;
    height: 20%;
    bottom: 20%;
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/idle/idle-1.png');
}
.game-button {
  top: 0;
  display: none;
  position: relative;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Carter One', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255,255,255,.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3);
}
.game-button:hover {
  top:2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0,0,0,.3);
}
.game-button::before {
  content: '';
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.game-button::after {
  content: '';
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}


@keyframes idle {
   0%{
     background-image: url('/images/idle/idle-1.png');
   }
   50%{
    background-image: url('/images/idle/idle-2.png');
   }
   100%{
    background-image: url('/images/idle/idle-4.png')
   }
}

@keyframes walk {
  0%{
    background-image: url('/images/walk/walk-1.png');
  }
  20%{
    background-image: url('/images/walk/walk-2.png');
  }
  40%{
    background-image: url('/images/walk/walk-3.png');
  }
  60%{
    background-image: url('/images/walk/walk-4.png');
  }
  80%{
    background-image: url('/images/walk/walk-5.png');
  }
  100%{
    background-image: url('/images/walk/walk-6.png');
  }
}

@keyframes attack {
  0%{
    background-image: url('/images/fire/attack-1.png');
  }
  50%{
    background-image: url('/images/fire/attack-2.png');
  }
  100%{
    background-image: url('/images/fire/attack-3.png');
  }
}


