@import url('https://fonts.googleapis.com/css?family=Carter+One');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
}
.loading{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/select-background.png');
}
.character{
    left: 2%;
    width: 10%;
    height: 20%;
    bottom: 0%;
    display: none;
    position: absolute;
    transition: 1s ease;
    background-size: 100%;
    /* border: 1px solid black; */
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/idle/idle-1.png');
}
.character-heal{
  width: 50%;
  height: 5%;
  position: relative;
  background-color: red;
}

.rival{
  right: 2%;
  width: 9%;
  height: 18%;
  bottom: 1.2%;
  display: none;
  transition: 1s;
  position: absolute;
  transition: 1s ease;
  background-size: 100%;
  /* border: 1px solid black; */
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/rival/idle/idle-1.png');
}

/* characater animation */
@keyframes idle {
   25%{
     background-image: url('/images/idle/idle-1.png');
   }
   50%{
    background-image: url('/images/idle/idle-2.png');
   }
   75%{
    background-image: url('/images/idle/idle-3.png');
   }
   100%{
    background-image: url('/images/idle/idle-4.png');
   }
}

@keyframes walk {
  0%{
    background-image: url('/images/walk/walk-1.png');
  }
  20%{
    background-image: url('/images/walk/walk-2.png');
  }
  40%{
    background-image: url('/images/walk/walk-3.png');
  }
  60%{
    background-image: url('/images/walk/walk-4.png');
  }
  80%{
    background-image: url('/images/walk/walk-5.png');
  }
  100%{
    background-image: url('/images/walk/walk-6.png');
  }
}

@keyframes attack {
  25%{
    background-image: url('/images/attack/attack-1.png');
  }
  50%{
    background-image: url('/images/attack/attack-2.png');
  }
  75%{
    background-image: url('/images/attack/attack-3.png');
  }
  100%{
    background-image: url('/images/attack/attack-4.png');
  }
}

/* rival animations */
@keyframes idle2 {
  25%{
    background-image: url('/images/rival/idle/idle-1.png');
  }
  50%{
   background-image: url('/images/rival/idle/idle-2.png');
  }
  75%{
   background-image: url('/images/rival/idle/idle-3.png');
  }
  100%{
   background-image: url('/images/rival/idle/idle-4.png');
  }
}

@keyframes walk2 {
  0%{
    background-image: url('/images/rival/walk/walk-1.png');
  }
  20%{
    background-image: url('/images/rival/walk/walk-2.png');
  }
  40%{
    background-image: url('/images/rival/walk/walk-3.png');
  }
  60%{
    background-image: url('/images/rival/walk/walk-4.png');
  }
  80%{
    background-image: url('/images/rival/walk/walk-5.png');
  }
  100%{
    background-image: url('/images/rival/walk/walk-6.png');
  }
}

@keyframes attack2 {
  25%{
    background-image: url('/images/rival/attack/attack-1.png');
  }
  50%{
    background-image: url('/images/rival/attack/attack-2.png');
  }
  75%{
    background-image: url('/images/rival/attack/attack-3.png');
  }
  100%{
    background-image: url('/images/rival/attack/attack-4.png');
  }
}

/* select player page */

.select{
	display: grid;
}
.select .computer{
	font-size: 30px;
	padding: 10px 15px;
	border-radius: 20px;
	background-color: aqua;
	border: 2px dashed blue;
	box-shadow: -5px 10px black;
  margin-top: 60px;
  margin-left: 50px;
}
.select .computer:active{
  box-shadow: none;
  transform: translateY(10px);
}
.select .friend{
	font-size: 30px;
	padding: 10px 15px;
	border-radius: 20px;
	background-color: aqua;
	border: 2px dashed  blue;
	box-shadow: -5px 10px black;
  margin-left: 50px;
  margin-top: 60px;
}
.select .friend:active{
	box-shadow: none;
	transform: translateY(10px);
}



